body,
html {
  height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Lovine/IMG_20200406_110318_8.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
  background-color: aqua;
}

/* 
#About-me {
  padding-top: 100px;
} */

.my-image {
  height: 400px;
  width: 400px;
  background-image: url("./Lovine/IMG_20200406_110222_7.jpg");
  background-size: 400px 400px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.IP {
  padding-top: 100px;
  text-align: center;
}

#card {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.cards {
  box-shadow: 5px 5px 5px grey;
  box-shadow: -5px -5px -5px grey;
  padding: 20px;
  margin-left: 2px;
  align-items: center;
  background-color: rgb(229, 230, 235);
  height: 440px;
  width: 300px;
}

.cards:hover {
  box-shadow: 10px 10px 10px grey;
}

#inho {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}


.footer {
  background-color: #303036;
  color: #d3d3d3;
  height: 400px;
  position: relative;
  margin-top: 500px;
  margin-left:-1500px;
  margin-right: -100px;
}

.footer .footer-bottom {
  background-color: #343a40;
  color: #686868;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  width: 100%;

}


.footer .footer-top {
  display: flex;
  height: 350px;
}

.footer .footer-top h4 {
  flex: 1;
  margin-left: 30px;
  text-align: center;
  margin-top: 10px;
}